*{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

body{
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);;
}

.header {
  background-color: #F7AF45;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #46AEF7;
  box-shadow: 8px 8px 16px rgba(22, 92, 215, 0.8), -8px -8px 16px rgba(255, 255, 255, 0.8);
}

.titulo-header{
  font-weight: 600;
}

.centrar{
  justify-content: center;
  margin: 50px;
}

.formulario {
  text-align: center;
  height: 15rem;
  padding: 2rem;
  box-shadow: 8px 8px 16px rgba(22, 92, 215, 0.8), -8px -8px 16px rgba(255, 255, 255, 0.8);
  align-items: center;
  border-radius: 31px;
}

label{
  display: block;
  text-align: center;
}

input{
  border-radius: 9px;
  border: none;
  text-align: center;
}

.boton {
  margin: auto;
  margin-top: 42px;
  display: flex;
  background: none;
  border: none;
  box-shadow: 2px 2px 3px rgba(22, 92, 215, 0.8), -2px -2px 3px rgba(255, 255, 255, 0.8);
}

.caja-paises{
  border-radius: 31px;
  box-shadow: 8px 8px 16px rgba(22, 92, 215, 0.8), -8px -8px 16px rgba(255, 255, 255, 0.8);
}

.header-card {
  padding: 16px;
}

.efecto-espejo {
  -webkit-box-reflect: below -8px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, .8)));
}

.titulo-header p {
  margin-top: 20px;
}

.poblacion {
  margin-top: -15px;
}

.bandera {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 2px 0px 19px;
}

span{
  color:#ff0000;
}
.texto-c{
  color: #fff;
}
.input-text{
  width: 50%;
}
